@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
        <div id="carouselExampleDark" class="carousel carousel-dark slide w-100 home-carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                @foreach (var _event in Model.events)
                {
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="~/img/event.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block text-white">
                            <h5>@_event.Title</h5>
                            <p>@_event.Description</p>
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
</div>

<div class="row">
    <div class="container">
        <h2 class="text-white mb-4">Upcoming Events</h2>
    </div>
    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var _event in Model.allEvents)
                {
                    <a class="text-decoration-none text-white" asp-page="/ViewEvent" asp-route-id="@_event.Id">
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="img/event-2.jpg" class="d-block w-100 bd-placeholder-img card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">@_event.Title</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-body-secondary">At @_event.Location</small>
                                        <small class="text-body-secondary">On @_event.Date</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>            
        </div>
    </div>
</div>

<div class="event-banner p-5 pt-3 my-5">
    <div class="info m-2">
		<h1>Add your own Event</h1>
		<p>
			Whether you're a solo artist or a concert organizer, plan, manage & sell tickets for
			your events – all on Debra. Get Started and make your next musical event unforgettable!
		</p>
        <button class="btn btn-next"><a class="text-decoration-none text-white" asp-page="/AddEvent">Add Events</a></button>

    </div>
    
    <img src="~/img/background.png" alt="Band Silhouette" class="band-silhouette">
</div>


